.main-container{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/*body{*/
/*    background-color: black !important;*/
/*}*/

*{
    text-transform: capitalize !important;
}
/*table{*/
/*    background-color: black !important;*/
/*    color: white !important;*/
/*}*/



.dark-container{
    /* From https://css.glass */
    background: rgba(6, 154, 250, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(6, 154, 250, 0.3);
    color: white;

}


table > tbody > tr > td{
    color: white;
}